/* Works globally */
html,
body {
  overflow: auto;
  height: 100%;
  margin: 0;
  padding: 0;

  /* Hide scrollbar for Firefox */
  scrollbar-width: none;

  /* Hide scrollbar for IE, Edge */
  -ms-overflow-style: none;
}

/* Hide scrollbar for WebKit browsers */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}
